body {
    text-align: center;
    margin: auto;
    overflow-x: hidden;
}

h1 {
    font-size: 40px;
    font-weight: lighter;
    text-align: right;
    letter-spacing: 2px;
}

.bg-img {
    display: block;
    width: 100vw;
}

.overlay-text {
    position: absolute;
    top: 50%;
    right: 8%;
    color: white;
}

li {
    list-style: none;
}

.tracking-wide {
    letter-spacing: 0.1em;
}

.centered {
    position: absolute;
    top: 10%;
    left: 5%;
    margin: auto;
}

.flex {
    display: flex;
    gap: 10px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.button {
    border: 2px solid white;
    outline: 0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: #dc9161;
    float: inline-end;
}


.uppercase {
    text-transform: uppercase;
    text-align: center;
}

.card-img {
    size: 200px;
}

footer {
    margin-top: 10px;
    background-color: #dc9161;
    color: white;
    font-size: larger;
    width: 100vw;
    padding: 16px;
}


.glide {
    margin: 8rem 0 6rem 0;
    width: 95% !important;
    margin: auto;
}

.glide1 {
    width: 100% !important;
}

.glide__track {
    cursor: -webkit-grab;
    cursor: grab;
    margin: auto;
}

.glide__slides {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}


.glide__bullets {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 2rem;
}


.ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.glide__bullet {
    padding: 6px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgb(167, 166, 166);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 3px;
    cursor: pointer;
}

.glide__bullet.glide__bullet--active {
    background-color: #000;
}


.glide__arrows {
    position: absolute;
    top: 40%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.glide__arrows1 {
    text-align: end;
}

.glide__arrow {

    color: black;
    background-color: white;
    cursor: pointer;
    font-size: 18px;
    border: none;
}

.bg-card {
    background-color: white;
}



.product-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.product-img {
    size: 300px;
}

.product {
    width: 330px;
}


.swiper-bg {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

@media (max-width: 1024px) {

    .flex-col {
        gap: 5px;
    }


    .centered {
        top: 9%;
        left: 4%;
    }

    .mt-10 {
        margin-top: -4%;
    }

    .overlay-text {
        top: 20%;
        right: 8%;
    }

    .button {
        padding: 14px;
        padding-left: 14px;
        padding-right: 14px;
        font-size: 20px;
    }

    h1 {
        font-size: 50px;
    }

}

@media (max-width: 768px) {


    .glide {
        width: 90% !important;
    }

    .top-section {
        margin-bottom: 5%;
    }

    footer {
        font-size: medium;
    }

    .line-7 {
        line-height: 0.5;
    }

    .flex-col {
        gap: 6px;
    }

    .product-img {
        size: 300px;
    }

    .overlay-text {
        top: 20%;
        right: 8%;
    }

    .button {
        padding: 10px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
    }

    h1 {
        font-size: 35px;
    }
}


@media (max-width: 480px) {


    .top-section {
        margin-bottom: 25%;
    }

    footer {
        font-size: small;
    }

    .flex-col {
        gap: 4px;
    }

    .flex {
        display: flex;
        flex-direction: column;
    }

    .glide {
        width: 90% !important;
    }

    .mt-10 {
        margin-top: 10%;
    }

    .overlay-text {
        top: 15%;
        right: 8%;
    }

    .button {
        padding: 10px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
    }

    h1 {
        font-size: 20px;
    }
}