<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Painful Pleasures</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <script src="../js/script.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide" defer></script>
</head>

<body>

    <header>
        <nav>
            <!-- Here we can place nav elements, but it isn't required now -->
        </nav>
    </header>

    <div class="top-section">
        <div class="flex">
            <section class="container">
                <img src="../img/eagle.jpg" alt="Eagle main page image" class="eagle-img">
                <ul class="flex-col bottom-right eagle-img-display">
                    <li class="font-light font-18 padding-left" style="right: 0px;">4TH OF JULY SAVINGS ARE HERE!
                    </li>
                    <li class="text-white font-bolder font-20 line-7 tracking-wide">SAVE 15% SITEWIDE</li>
                    <li class="text-black font-18 font-light line-7 ">FOR ORDERS OVER $200</li>
                    <li class="font-bolder font-20">CODE: JULY4</li>
                    <li>
                        <button class="button light-btn primary-text ">Shop now</button>
                    </li>
                    <li class="font-12">Valid 7/3-7/6</li>
                </ul>
            </section>
            <div class="flex-col">
                <section class="container text-white">

                    <img src="../img/lightning.jpg" alt="lightning image" class="right-img">
                    <div class="lightning-img-display">
                        <p class="font-18">Wireless efficiency</p>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M13.091 4.246 4.682 14H11a1 1 0 0 1 .973 1.23l-1.064 4.524L19.318 10H13a1 1 0 0 1-.973-1.229l1.064-4.525Zm-.848-2.08c1.195-1.386 3.448-.238 3.029 1.544L14.262 8h5.056c1.711 0 2.632 2.01 1.514 3.306l-9.075 10.528c-1.195 1.386-3.448.238-3.029-1.544L9.738 16H4.681c-1.711 0-2.632-2.01-1.514-3.306l9.075-10.527Z">
                                </path>
                            </svg>
                        </span>
                        <p class="font-18">Button-press voltage adjusment </p>

                        <button class="button btn-1 light-btn dark-text">Shop now</button>
                    </div>

                </section>
                <section class="container">
                    <img src="../img/ppe.jpg" alt="lightning image" class="right-img">
                    <div class="centered">
                        <div class="bg-white">
                            <h1 class="font-20 font-bolder">Personal Protective Equipment (PPE)</h1>
                        </div>

                        <button class="button primary-btn mt-10">Shop now</button>
                    </div>
                </section>
            </div>
        </div>
        <div class="card  gray-text uppercase font-600">
            <div class="flex-1 flex-col">
                <h1 class="w-60 font-18">Tattoo supplies</h1>
                <img src="../img/tattoo_suplies.jpg" alt="Tattoo supplies">
                <button class="button primary-btn">Shop now</button>
            </div>

            <div class="flex-1 flex-col">
                <h1 class="w-60 font-18">Body yewelry</h1>
                <img src="../img/body_jewelry.jpg" alt="Body yewelry">
                <button class="button primary-btn">Shop now</button>
            </div>

            <div class="flex-1 flex-col">
                <h1 class=" w-60 font-18 ">Piercings supplies</h1>
                <img src="../img/piercings_supplies.jpg" alt="Piercings supplies">
                <button class="button primary-btn">Shop now</button>
            </div>


            <div class="flex-1 flex-col">
                <h1 class="w-60 font-18 ">Medical supplies</h1>
                <img src="../img/medical_supplies.jpg" alt="Medical supplies">
                <button class="button primary-btn">Shop now</button>
            </div>

            <div class="flex-1 flex-col">
                <h1 class="w-60 font-18">Permanent makeup</h1>
                <img src="../img/permanent_makeup.jpg" alt="Permanent makeup" class="card-img">
                <button class="button primary-btn">Shop now</button>
            </div>
        </div>
    </div>


    <div class="bottom-section">

        <div class="swiper-bg">
            <h1 class="uppercase">new products</h1>
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides text-center">
                        <li class="glide__slide">
                            <div class="bg-card product-card">
                                <img src="../img/copper.jpg" class="product-img" alt="Wireless 2">
                                <div>
                                    <p class="price">$449.99</p>
                                    <p class="ellipsis">Rook Quill Rotary Tattoo Machine Copper</p>
                                </div>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="bg-card product-card">
                                <img src="../img/blue.jpg" class="product-img" alt="Wireless 2">
                                <div>
                                    <p class="price">$449.99</p>
                                    <p class="ellipsis">Rook Quill Rotary Tattoo Machine Blue</p>
                                </div>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="bg-card product-card">
                                <img src="../img/wireless-1.jpg" class="product-img" alt="Wireless 2">
                                <div>
                                    <p class="price">$1,199.99</p>
                                    <p class="ellipsis">Pre-Order-Inkjecta Flite X1 Wireless Tattoo Machine</p>
                                </div>
                            </div>
                        </li>
                        <li class="glide__slide ">
                            <div class="bg-card product-card">
                                <img src="../img/wireless-2.jpg" class="product-img" alt="Wireless 2">
                                <div>
                                    <p class="price">$1,199.99</p>
                                    <p class="ellipsis">Pre-Order-Inkjecta Flite X1 Wireless Tattoo Machine</p>
                                </div>
                            </div>
                        </li>
                        <li class="glide__slide ">
                            <div class="bg-card product-card">
                                <img src="../img/wireless-2.jpg" class="product-img" alt="Wireless 2">
                                <div>
                                    <p class="price">$1,199.99</p>
                                    <p class="ellipsis">Pre-Order-Inkjecta Flite X1 Wireless Tattoo Machine</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left " data-glide-dir="<">
                        < </button>
                            <button class="glide__arrow glide__arrow--right " data-glide-dir=">">></button>
                </div>
                <div class="glide__bullets" data-glide-el="controls[nav]">
                    <button class="glide__bullet" data-glide-dir="=0"></button>
                    <button class="glide__bullet" data-glide-dir="=1"></button>
                    <button class="glide__bullet" data-glide-dir="=2"></button>
                    <button class="glide__bullet" data-glide-dir="=3"></button>
                    <button class="glide__bullet" data-glide-dir="=4"></button>
                </div>
            </div>

        </div>
    </div>


    <footer>
        <p>&copy; Erisa Sadikllari. All rights reserved.</p>
    </footer>

</body>

</html>